*
{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background: #262626;
}

header{
    display: flex;
    background-color: #FAD824;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}

a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    margin: 0 12px;
}

h1{


    display: flex;
    position: absolute;
    left: 425px;
    top: 187px;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    padding: 2% 1%;
    color: white;
    
}

#poost{

    display: flex;
    flex-direction: row;
    position: relative;
    top: 200px;
    right: -300px;
    border-radius: 10px;
    border: 1px solid #FAD824;
    width: 500px;
    height: 600px;
    margin: 0;
    padding: 2% ;
}


#poost .man{

    position: relative;
    right: -450px;
    width: 690px;
    height: 900px;
    top: -100px;


}

button{

    width: 150px;
    padding: 2% 1%;
    color: #000;
    font-family:  'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    background-color:  #FAD824;
    border-radius: 5px;
}


::placeholder{

    padding: 2% 1%;
    color: #FFFFFF;
}

label {

    position: relative;
    top: -10px;
}


input{

    background-color: #262626;
    color: white;
    width: 400px;
    text-decoration: none;
    border: 1px solid #FAD824;
    padding: 2% 2%;

}



form{


    display: flex;
    position: relative;
    top: 50px;
    right: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 500px;
    color: white;

}

footer{

   
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0.5% 0;
        text-align: center;
        margin: 0;
        size: 15px;
        font-size: 10px;
        top: 400px;
        background-color: #FAD824;
 
}